@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Lemon&display=swap');

.rodape{
    background-color: rgba(0, 0, 0, 0.3);
    background-image: url('../assets/fundos/fundo4.png');
    background-blend-mode: multiply;        /* juntar a foto do fundo com a cor mais escura */
    background-size: cover;                 /* ocupar cantos. Importante para o fundo não se repetir*/
    background-position: center;            /* deixar imagem centralizada */

    padding: 50px 60px; 
}

.rodape-conteudo, .bloco2{
    display: flex;                          /* deixar as seçoes lado a lado */
    justify-content: space-around;          /* deixar centralizaddo em cada seção */
    align-items: center;   
}
.foto{
    margin-left: 10%;
    align-items: center;
    padding: 0px;
    width: 200px;
    height: 200px;
    border-radius: 50%;
}

.titulo-footer{
    font-family: "Lemon", serif;
    font-size: 2rem;
    color: rgb(255, 255, 255);
    font-weight: 200;
    padding: 0px 9px;
}
.secao-contatos{
    padding: 10px 0px;
    font-family: inter;
    
}
.secao-extras{
    margin-left: 20%;
    padding: 10px 10px;  
}
.instagram, .whatsapp{
    width: 50px;
    height: 50px;
        
    border-radius: 50%;
    
    display: flex;
    justify-content: center;
    align-items: center;
    
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);   
    margin: 2px;
}
.instagram{
    background-color: #b644e7;
}
.whatsapp{
    background-color: #3eec12;
}

.social{
    width: 30px;
    height: 30px;
    color: white;
    display: block;
    
}
.contatos{
    display: flex;
    font-family: "Inter", sans-serif;
    font-size: 1.4rem;
    color: rgba(255, 255, 255, 0.822);
    font-weight: 600;
}

.icone{
    padding: 2px 10px;
    width: 30px;
    height: 25px;
}
.contatos-informacoes{
    font-family: "Inter", sans-serif;
    color: rgb(255, 255, 255);
    font-weight: 500;
    font-size: 1.2rem;
    padding: 0px 0px;
}

.seguranca{
    font-family: "Inter", sans-serif;
    font-weight: 600;
    text-align: center;
    color: rgba(255, 255, 255, 0.8);
    position: center;
    font-size: 1.5rem;
    border-top: 2px solid #ca6df2a2;
}

@media(max-width: 1024px){

    .rodape{     
        padding: 10px 10px; 
    }
    .secao-contatos{
        margin-left: 25%;
        padding: 0px 0px;
    }
    .foto{
        margin-left: 55%;
        width: 160px;
        height: 160px;
    }
    .titulo-footer{
        font-size: 1.5rem;
        padding: 0px 10px;
    }
    .contatos{
        font-size: 1.1rem;
        font-weight: 300;
    }
    .icone{
        padding: 0px 10px;
        width: 25px;
        height: 25px;
    }
    .secao-extras{
        margin-left: 5%;
        width: 100%;
    }
    .instagram, .whatsapp{
        width: 40px;
        height: 40px;                    
    }
    .social{
        width: 30px;
        height: 30px;
    }
    .contatos-informacoes{
        font-size: 1.1rem;
    }
    .seguranca{
        font-size: 1.2rem;
        border-top: 2px solid #ca6df2a2;
    }
}
@media(max-width: 690px){
   
    .bloco2{
        margin-right: 0%;
        margin-right: 0%;
    }
    .rodape-conteudo {
        flex-direction: column; 
    }
    .foto{
        width: 150px;
        height: 150px;
        margin-left: 0%;
    }
    .secao-contatos{
        margin-right: 0%;
        width: 100%;
    }
     .secao-extras{
        margin-left: 0%;
    }
    .contatos{
        margin-right: 10%;
        font-family: 8rem;
    }
    .secao-contatos{
        margin-left: 2%;
    }
}
@media(max-width: 344px){

    .secao-contatos{
        margin-bottom: 17%;
    }
    .secao-extras{
        padding: 0px 0px;
    }
    .contatos, .contatos-informacoes{
        font-size: 0.7rem;
    }
     .titulo-footer{
        font-size: 1rem;
    }
    .instagram, .whatsapp{
        width: 30px;
        height: 30px;                    
    }
    .social{
        width: 20px;
        height: 20px;
    }
    .icone{
        padding: 0px 10px;
        width: 15px;
        height: 15px;
    }
    .seguranca{
        font-size: 0.8rem;
        border-top: 2px solid #ca6df2a2;
    }
}

